backoff >= 2.2.1, < 2.3
python-dotenv >= 1.0.1, < 2
langchain-core == 0.3.28
langchain-community == 0.3.13
langchain-openai == 0.2.14
langchain-astradb == 0.5.2
langchainhub == 0.1.21
langsmith == 0.2.4
ragstack-ai-knowledge-store >= 0.2.1, < 0.3
simsimd >= 5.0.0, < 6.0.0
tqdm >= 4.66.4, < 4.67
networkx